#leftThird {
  padding: 100px;
}

#centerThird {
  padding: 100px;
  font-size: "20";
}

#rightThird {
  padding: 100px;
}

body {
    background-color: Black;
}

#nope {


}

#sound {


}


#sound {


}
